#header {
  height: 70px;
  background-color: white;
  line-height: 70px;
  width: 100%;
  position: fixed;
}

#logo {
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
}

#header-text {
  height: 70px;
  font-size: 20px;
  text-align: center;
  color: darkblue;
  display: inline-block;
}
